.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  font-family: Times, serif;
  color: #000;
  text-transform: none;
  margin-bottom: 1em; }

.h1,
h1 {
  font-family: Times, serif; }

h1 {
  clear: both;
  margin: 2.4rem 0 1.4rem;
  font-size: 32px; }

h2 {
  clear: both;
  margin: 2.4rem 0 1.4rem;
  font-size: 26px; }

h3 {
  clear: both;
  margin: 2.4rem 0 1.4rem;
  font-size: 22px; }

h4 {
  clear: both;
  margin: 2.4rem 0 1.4rem;
  font-size: 18px; }

h5 {
  clear: both;
  margin: 2.4rem 0 1.4rem;
  font-size: 16px; }

h6 {
  clear: both;
  margin: 2.4rem 0 1.4rem;
  font-size: 15px; }

.h1 {
  font-size: 32px !important; }

.h2 {
  font-size: 26px !important; }

.h3 {
  font-size: 22px !important; }

.h4 {
  font-size: 18px !important; }

.h5 {
  font-size: 16px !important; }

.h6 {
  font-size: 15px !important; }

a,
.link {
  color: #0e76bc; }
  a:hover,
  .link:hover {
    text-decoration: none;
    color: #0461a0; }
  a:focus,
  .link:focus {
    text-decoration: none;
    color: #005690; }
  a:active,
  .link:active {
    text-decoration: none;
    color: #0e76bc; }

strong,
b {
  color: #000; }

i, cite, em, var, address, dfn, caption {
  font-style: italic; }

.small,
small {
  font-size: 70%;
  font-weight: 400; }

ul.ul-style, ol.ol-style {
  list-style: none !important;
  padding: 0; }
  ul.ul-style li, ol.ol-style li {
    position: relative;
    margin: 10px 0;
    padding-left: 30px; }
    ul.ul-style li:before, ol.ol-style li:before {
      content: "";
      display: block;
      margin: 0;
      position: absolute;
      top: 8px;
      left: 6px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #5e8cd4; }

.cke_editable {
  margin: 10px; }

.typography a[id]::before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
  visibility: hidden; }

.typography {
  font-family: Times, serif;
  font-size: 16px;
  line-height: 1.44;
  color: #424242;
  position: relative; }
  .typography img {
    max-width: 100%;
    height: auto; }
  .typography p,
  .typography ul,
  .typography hr,
  .typography dl,
  .typography pre,
  .typography address,
  .typography blockquote,
  .typography table {
    margin: 1.2em 0; }
  .typography u,
  .typography ins {
    text-decoration: none;
    border-bottom: 4px solid #5e8cd4; }
  .typography ul {
    list-style: none !important;
    list-style-position: inside;
    padding: 0; }
    .typography ul li {
      overflow: hidden;
      position: relative;
      margin: 5px 0;
      padding-left: 30px; }
      .typography ul li:before {
        content: "";
        display: block;
        margin: 0;
        position: absolute;
        top: 8px;
        left: 6px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #5e8cd4; }
      .typography ul li ul li:before {
        top: 10px;
        left: 12px;
        width: 8px;
        height: 1px; }
  .typography ol {
    list-style-type: none;
    list-style-position: inside;
    counter-reset: item;
    padding: 0; }
    .typography ol li {
      overflow: hidden;
      margin: 5px 0;
      padding-left: 35px; }
      .typography ol li:before {
        content: counters(item, ".") " ";
        counter-increment: item;
        position: relative;
        display: inline-block;
        min-width: 25px;
        margin-left: -35px;
        margin-right: 10px;
        padding: 2px 3px 1px 3px;
        font-size: 80%;
        color: #0e76bc;
        font-weight: 700;
        text-align: center;
        border-radius: 100px;
        border: 2px solid #0e76bc;
        box-sizing: border-box; }
  .typography dd + dt {
    margin: 1.2em 0 0; }
  .typography dd {
    margin-left: 32px; }
  .typography dt, .typography b, .typography strong, .typography th {
    font-weight: bold; }
  .typography abbr[title], .typography dfn[title] {
    text-decoration: none;
    border-bottom: 1px dotted;
    cursor: help; }
  .typography pre, .typography code, .typography kbd, .typography samp {
    font-style: normal;
    font-weight: normal; }
  .typography pre {
    tab-size: 4;
    padding: 16px;
    background-color: #f5f5f5; }
  .typography code, .typography kbd, .typography samp {
    padding: 0 4.8px; }
  .typography code {
    background-color: #f5f5f5; }
  .typography kbd {
    background-color: #e1f0fa;
    color: #000; }
  .typography samp {
    background-color: #f7f8e2; }
  .typography mark {
    padding: .2em;
    background-color: #feec91; }
  .typography q:before {
    content: open-quote; }
  .typography q:after {
    content: close-quote; }
  .typography blockquote {
    border-radius: 0px;
    border: 1px dashed #0e76bc;
    padding: 0 1rem; }
  .typography hr {
    clear: both;
    margin: 50px 0;
    border: 0;
    border-top: 1px solid #eee; }
  .typography table {
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc; }
    .typography table.table-null,
    .typography table.table-null th,
    .typography table.table-null td {
      border-color: transparent; }
    .typography table.table-null th {
      background: transparent; }
    .typography table.table-zebra,
    .typography table.table-zebra th,
    .typography table.table-zebra td {
      border-color: transparent; }
    .typography table.table-zebra tr:nth-child(even) {
      background-color: #eee; }
  .typography caption {
    margin-bottom: 8px;
    caption-side: top; }
  .typography tbody, .typography tfoot, .typography thead,
  .typography tr, .typography th, .typography td {
    border: inherit; }
  .typography th, .typography td {
    padding: 8px;
    text-align: left;
    vertical-align: top; }
  .typography th {
    text-align: center;
    background-color: #ddd; }
