//- ----------------------------------------------
//- BRAND
//- ----------------------------------------------
// Brand colors
$brand-primary:          #5e8cd4 !default;
$brand-primary-hover:    #5c98e0 !default;
$brand-secondary:        #0e76bc !default;
// Base text color
$title__color: #000 !default;
$text__color: #424242 !default;


//- ----------------------------------------------
//- FONTS
//- ----------------------------------------------
$text__font-size: 16px !default;
$text__line-height: 1.2 !default;
$font-family-regular:   Times, serif !default;
$font-family-bold:      Times, serif !default;


//- ----------------------------------------------
//- LIST
//- ----------------------------------------------
$ul__li_color: #000 !default;
$ul-list-before-color: $brand-primary !default;
$ol-list-before-color: $brand-secondary !default;


//- ----------------------------------------------
//- LINKS
//- ----------------------------------------------
$link-color:            #0e76bc !default;
$link-active-color:     #0e76bc !default;
$link-focus-color:      #005690 !default;
$link-hover-color:      #0461a0 !default;
$link-hover-decoration: none !default;
$link-outline:          none !default;
$link-decoration:       none !default;


//- ----------------------------------------------
//- TAG
//- ----------------------------------------------
// Blockquote
$blockquote-border-radius: 0px !default;
$blockquote-border-color: $link-color !default;
$blockquote-padding: 0 1rem !default;
// Mark
$mark-padding: .2em !default;
$mark-color: #fcf8e3 !default;
// Table
$text__table__border-color: #ccc !default;
$text__th__color: #ddd !default;
$text__tr-zebra__color: #eee !default;
// Pre
$text__pre__bg-color: #f5f5f5 !default;
// Code
$text__code__bg-color: $text__pre__bg-color !default;
// Samp
$text__samp__bg-color: #f7f8e2 !default;
// Mark
$text__mark__bg-color: #feec91 !default;
// Kbd
$text__kbd__bg-color: #e1f0fa !default;
$text__kbd__text-color: #000 !default;


//- ----------------------------------------------
//- MAP
//- ----------------------------------------------
/// Headers Map
$text__headers: (
        h1: 32px, // 32px
        h2: 26px, // 26px
        h3: 22px, //22px
        h4: 18px, //18px
        h5: 16px, //16
        h6: 15px //15px
) !default;
