@import "_variables";
// Default typography style
// ================================
// Title
.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-bold;
  color: $title__color;
  text-transform: none;
  margin-bottom: 1em;
}

.h1,
h1 {
  font-family: $font-family-bold;
}

@each $header, $header-font-size in $text__headers {
  #{$header} {
    clear: both;
    margin: #{$text__line-height * 2}rem 0 #{$text__line-height + 0.2}rem;
    font-size: #{$header-font-size};
  }
}

@each $header, $header-font-size in $text__headers {
  .#{$header} {
    font-size: #{$header-font-size} !important;
  }
}

//Link
a,
.link {
  color: $link-color;
  &:hover {
    text-decoration: $link-hover-decoration;
    color: $link-hover-color;
  }
  &:focus {
    text-decoration: $link-hover-decoration;
    color: $link-focus-color;
  }
  &:active {
    text-decoration: $link-hover-decoration;
    color: $link-active-color;
  }
}

//Strong and bold
strong,
b {
  //font-size: 15px;
  color: #000;
}

i, cite, em, var, address, dfn, caption {
  font-style: italic;
}

.small,
small {
  font-size: 70%;
  font-weight: 400;
}

ul.ul-style, ol.ol-style {
  //padding-left: $text__font-size * 2;
  list-style: none !important;
  padding: 0;
  li {
    position: relative;
    margin: 10px 0;
    padding-left: 30px;
    &:before {
      content: "";
      display: block;
      margin: 0;
      position: absolute;
      top: 8px;
      left: 6px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: $ul-list-before-color;
    }
  }
}

// CKEditor Typography style
// ================================
.cke_editable {
  margin: 10px;
}

.typography {
  a[id]::before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
    visibility: hidden;
  }
}

.typography {
  font-family: $font-family-regular;
  font-size: $text__font-size;
  line-height: $text__line-height * 1.2;
  color: $text__color;
  position: relative;
  img {
    max-width: 100%;
    height: auto;
  }
  p,
  ul,
  hr,
  dl,
  pre,
  address,
  blockquote,
  table {
    margin: #{$text__line-height}em 0;
  }
  u,
  ins {
    text-decoration: none;
    border-bottom: 4px solid $brand-primary;
  }
  ul {
    list-style: none !important;
    list-style-position: inside;
    padding: 0;
    li {
      overflow: hidden;
      position: relative;
      margin: 5px 0;
      padding-left: 30px;
      &:before {
        content: "";
        display: block;
        margin: 0;
        position: absolute;
        top: 8px;
        left: 6px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: $ul-list-before-color;
      }
      ul li {
        &:before {
          top: 10px;
          left: 12px;
          width: 8px;
          height: 1px;
        }
      }
    }
  }
  ol {
    list-style-type: none;
    list-style-position: inside;
    counter-reset: item;
    padding: 0;
    li {
      overflow: hidden;
      margin: 5px 0;
      padding-left: 35px;
      &:before {
        content: counters(item, ".") " ";
        counter-increment: item;
        position: relative;
        //top: -1px;
        display: inline-block;
        min-width: 25px;
        margin-left: -35px;
        margin-right: 10px;
        padding: 2px 3px 1px 3px;
        font-size: 80%;
        color: $ol-list-before-color;
        font-weight: 700;
        text-align: center;
        border-radius: 100px;
        border: 2px solid $ol-list-before-color;
        box-sizing: border-box;
      }
    }
  }
  dd + dt {
    margin: #{$text__line-height}em 0 0;
  }
  dd {
    margin-left: $text__font-size * 2;
  }
  dt, b, strong, th {
    font-weight: bold;
  }
  abbr[title], dfn[title] {
    text-decoration: none;
    border-bottom: 1px dotted;
    cursor: help;
  }
  pre, code, kbd, samp {
    font-style: normal;
    font-weight: normal;
  }
  pre {
    tab-size: 4;
    padding: $text__font-size;
    background-color: $text__pre__bg-color;
  }
  code, kbd, samp {
    padding: 0 $text__font-size * .3;
  }
  code {
    background-color: $text__code__bg-color;
  }
  kbd {
    background-color: $text__kbd__bg-color;
    color: $text__kbd__text-color;
  }
  samp {
    background-color: $text__samp__bg-color;
  }
  mark {
    padding: .2em;
    background-color: $text__mark__bg-color;
  }
  q {
    &:before {
      content: open-quote;
    }
    &:after {
      content: close-quote;
    }
  }
  blockquote {
    border-radius: $blockquote-border-radius;
    border: 1px dashed $blockquote-border-color;
    padding: $blockquote-padding;
  }
  hr {
    clear: both;
    margin: 50px 0;
    border: 0;
    border-top: 1px solid #eee;
  }
  table {
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid $text__table__border-color;
    &.table-null,
    &.table-null th,
    &.table-null td {
      border-color: transparent;
    }
    &.table-null th {
      background: transparent;
    }
    &.table-zebra,
    &.table-zebra th,
    &.table-zebra td {
      border-color: transparent;
    }
    &.table-zebra tr:nth-child(even) {
      background-color: $text__tr-zebra__color;
    }
  }
  caption {
    margin-bottom: $text__font-size / 2;
    caption-side: top;
  }
  tbody, tfoot, thead,
  tr, th, td {
    border: inherit;
  }
  th, td {
    padding: $text__font-size / 2;
    text-align: left;
    vertical-align: top;
  }
  th {
    text-align: center;
    background-color: $text__th__color;
  }
}
